---
// Component Imports

import posts from '../../../_data/posts.json';
import authors from '../../../_data/authors.json';
import PostIndex from '../../../components/blog/PostIndex.astro'
import Author from '../../../components/blog/Author.astro';

const authorsData = Object.entries(authors).map(entry =>{
    return Object.assign({author : entry[0]},entry[1]);
})

export async function getStaticPaths() {
    const authors = posts.map(item => item.data.author).reduce((a, b) => a.concat(b))
    return authors.map(author => {
        return {
            params : {author: author}
        }
    })
}

const {author} = Astro.request.params;
const authorData = authorsData.filter(item => item.author === author)[0];
const postsWithAuthor = posts.filter(item => item.data.author.includes(author));

import BaseHead from '../../../layouts/BaseHead.astro';
import Body from '../../../layouts/Body.astro';
---
<html lang="en">
<head>
<BaseHead title = "gotomi.info" description = "gotomi.info  - personal page" />
</head>
<Body>
<PostIndex  posts={postsWithAuthor} title={"All posts by " + authorData.name}/>
<Author {authorData}/>
</Body>
</html>