---
// Component Imports

import posts from '../../../_data/posts/posts.json';
import PostIndex from '../../../components/blog/PostIndex.astro'

export async function getStaticPaths() {
    const authors =posts.map(item => item.data.author).reduce((a, b) => a.concat(b))
    return authors.map(author => {
        return {
            params : {author: author}
        }
    })
}

const {author} = Astro.request.params;
const postsWithAuthor = posts.filter(item => item.data.author.includes(author));

let title = 'gotomi.info';
---
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <main id="top">
        <PostIndex  posts={postsWithAuthor} title={"All posts by " + author}/>
    </main>
        <footer>&copy; 2021 Tomasz Gospodarczyk | designed in the browser</footer>
</body>
</html>