---
import { readFileSync } from "fs";
import { join } from "path";
const { gallery } = Astro.params;

import PhotoGallery from "../../components/PhotoGalleryExtended.svelte";

import BaseHead from "../../layouts/BaseHead.astro";
import Body from "../../layouts/BodyWide.astro";

const galleries = await Astro.glob("../../_data/galleries/*.json");
const photoSource = galleries.find((item) => item.slug.includes(gallery));

export async function getStaticPaths() {
    const galleries = await Astro.glob("../../_data/galleries/*.json");
    return galleries.map((item) => {
        return {
            params: { gallery: item.slug },
        };
    });
}
---

<html lang="en" class="variant2">
    <head>
        <BaseHead
            title={photoSource.title + " | gotomi.info"}
            description={photoSource.description}
        />
    </head>

    <Body title={photoSource.title}>
        <section class="photos" id="photos">
            <PhotoGallery photos={photoSource.items} client:load />
        </section>
    </Body>

    <style>
        @media (max-width: 480px) {
            .tip {
                display: none;
            }
        }

        .tip {
            padding: 0;
            margin: 0;
        }
    </style>
</html>
