---
import GalleryTeaser from "../../components/GalleryTeaser.svelte";
const photoGalleryIndex = await Astro.glob("../../_data/galleries/*.json");

import BaseHead from "../../layouts/BaseHead.astro";
import Body from "../../layouts/Body.astro";
---

<html lang="en" class="variant4">
  <head>
    <BaseHead title="galeria | gotomi.info" description="Gallery" />
  </head>

  <Body title="Gallery">
    <section class="photos" id="photos">
      <div class="photos-container">
        {
          photoGalleryIndex.map((gallery, index) => {
            return (
              <GalleryTeaser
                title={gallery.title}
                image={gallery.items[2].normal}
                delay={index * 2}
                href={gallery.slug}
              />
            );
          })
        }
      </div>
    </section>
  </Body>

  <style>
    .photos-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 16px;
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
</html>
