---

const photoGalleryIndex = await Astro.glob('../../_data/galleries/*.json');






import BaseHead from '../../layouts/BaseHead.astro';
import Body from '../../layouts/Body.astro';




---

<html lang="en" class="variant2">

<head>
    <BaseHead title=" | gotomi.info" description="" />
</head>

<Body>

    <section class="photos" id="photos">

        <div class="photos-container">
            {photoGalleryIndex.map((gallery, index) => {
            return (
            <div class="photo-container">
                <a href={gallery.slug}>
                    <img src={gallery.thumbnail} alt={gallery.title}  width="150" height="150" style="aspect-ratio: 1; object-fit: cover ;"/>
                </a>
                <p>{gallery.title}</p>
            </div>
            );
            })}
        </div>
    </section>
</Body>

</html>

<style>
    .tip {
        font-size: 0.8rem;
        color: #222;
    }
</style>