html {
    font-size: 62.5%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: 400 1.7rem/2.3rem 'PT Serif', serif;
    color: #eee;
    text-shadow: 1px 1px rgba(55, 55, 55, 1);
    background: #120B08 radial-gradient(#AA634C, #120B08);
}

header {
    padding: 25px 0;
}

main > div, header > div, footer > div {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: center
}

footer > div {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px #111;
}

figure {
    margin: -3.5em 0 1.5em;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px dotted #999;
}

a:hover {
    color: #fff;
    text-shadow: 1px 1px 5px #fff;
}

main img {
    border-radius: 50%;
    box-shadow: 1px 1px 38px #DD7F60;
    max-width: 50%;
    -webkit-filter: sepia(57%);
    filter: sepia(57%);
}

ul {
    text-align: left;
}

h1 {
    font: 700 3.2rem/3.2rem 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    font: 700 2rem/2.4rem 'PT Sans', sans-serif;
    margin: 0.25em 0 1.5em;
}

.social {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 50px 0 20px;
    position: relative;
}

.social li {
    text-indent: -9999px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.social li a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-bottom: 2px solid #444;
    background: #eee url(/assets/svg/github_alt.svg) no-repeat center;
    display: block;
    background-size: 24px 24px;
    transition: 0.6s;
}

.social li a:hover {
    background-color: orangered;
}

.social .linkedin a {
    background-image: url(/assets/svg/linkedin_alt.svg)
}

.social .flickr a {
    background-image: url(/assets/svg/flickr.svg)
}

.social .twitter a {
    background-image: url(/assets/svg/twitter.svg)
}

.social .last a {
    background-image: url(/assets/svg/last.fm.svg)
}

.flickr-photos {
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}

.flickr-photos li {
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s;
    transform: scale(0.9);
    -webkit-filter: sepia(57%);
    filter: sepia(57%);
    will-change: transform;
}

.flickr-photos li:hover {
    transform: scale(1);
}

.flickr-photos img{
    border-radius: 10px;
}

.flickr-photos a {
    border: 0
}

.flickr-photos a + a {
    display: none
}