---
// Component Imports
import photoSource from '../_data/instagram.json';
import music from '../_data/music.json';
import MusicApp from '../components/MusicApp.svelte';
import PhotoGallery from '../components/PhotoGallery.svelte';

import BaseHead from '../layouts/BaseHead.astro';
import Body from '../layouts/Body.astro';

const photos = photoSource.slice(0, 7);

---
<html lang="en" class="variant2">
<head>
<BaseHead title = "gotomi.info" description = "gotomi.info  - personal page" />
</head>
<Body>
    <section class="music" id="music">
        <h2 class="section-title">My music</h2>
        <p class="chunk">
            From time to time I create music using DAW, software instruments, MIDI and computer keyboard and sometimes my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <MusicApp playlist={music} client:load/>
    </section>
    <section class="photos" id="photos">
        <h2 class="section-title">My photos</h2>
        <PhotoGallery photos ={photos} client:visible/>
     </section>
</Body>
</html>