---
// Component Imports

import projects from '../_data/projects.json';
import ProjectGallery from '../components/ProjectGallery.svelte';
import BaseHead from '../layouts/BaseHead.astro';
import Body from '../layouts/Body.astro';


---
<html lang="en" class="variant1">
<head>
<BaseHead title = "gotomi.info" description = "gotomi.info  - personal page" />
</head>
<Body>
        <section class="intro">
            <div class="coffee">
              <img src="/assets/cups/cup2b.png" alt="make some coffee..." width="250" height="252" class="shadow">
              
            </div>
               
            <div class="content">
              
            <h2 class="section-title">Hi, I'm Tomasz</h2>
            
            <p class="chunk">
            <img src="/assets/me.jpg" alt="me" width="100" height="100" > 
            I am a front-end engineer, currently working as a web performance team leader at Allegro.
                     If you want to contact me, you can easily find me on <a href="http://twitter.com/gotomi">Twitter</a>,
            <a href="http://github.com/gotomi">GitHub</a> or <a href="http://linkedin.com/in/gotomi">Linkedin</a>.</p>
             </div>
        </section>

        <section class="projects" id="">
        <h2 class="section-title">My projects</h2>
        <ProjectGallery projects = {projects}/>
        </section>
</Body>
</html>