---
// Component Imports
import photoSource from '../_data/photos.json';
import music from '../_data/music.json';
import projects from '../_data/projects.json';
import MusicApp from '../components/MusicApp.svelte';
import PhotoGallery from '../components/PhotoGallery.svelte';
import ProjectGallery from '../components/ProjectGallery.svelte';

import BaseHead from '../layouts/BaseHead.astro';
import Body from '../layouts/Body.astro';

const photos = photoSource.reverse().slice(0, 7);

---
<html lang="en">
<head>
<BaseHead title = "gotomi.info" description = "gotomi.info  - personal page" />
</head>
<Body>
        <section class="intro">
            <div class="coffee">
              <img src="/assets/cups/cup2b.png" alt="make some coffee..." width="250" height="252" class="shadow">
              
            </div>
               
            <div class="content">
              
            <h2 class="section-title"><img src="/assets/me0.jpg" alt="me" width="25" height="25" > Hi, I'm Tomasz</h2>
            <p class="chunk">I am a front-end engineer, currently working as a web performance team leader at Allegro.
                     If you want to contact me, you can easily find me on <a href="http://twitter.com/gotomi">Twitter</a>,
            <a href="http://github.com/gotomi">GitHub</a> or <a href="http://linkedin.com/in/gotomi">Linkedin</a>.</p>
             </div>

            
        </section>

        <section class="projects" id="">
        <h2 class="section-title">My projects</h2>
        <ProjectGallery projects = {projects}/>
        </section>


    <section class="music" id="music">
        <h2 class="section-title">My music</h2>
        <p class="chunk">
        From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <MusicApp playlist={music} client:load/>
    </section>
    <section class="photos" id="photos">
        <h2 class="section-title">My photos</h2>
             <p class="chunk">
        From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <PhotoGallery photos ={photos} client:visible/>
     </section>
</Body>
</html>