---
// Component Imports
import photoSource from '../_data/photos.json';
import music from '../_data/music.json';
import projects from '../_data/projects.json';
import MusicApp from '../components/MusicApp.svelte';
import PhotoGallery from '../components/PhotoGallery.svelte';
import ProjectGallery from '../components/ProjectGallery.svelte';


const photos = photoSource.reverse().slice(0, 7);

// const response = await fetch('https://api.github.com/users/gotomi/repos');
// const repos = await response.json();
// const filteredRepos = repos.map(repo => {return {name: repo.name, description: repo.description, homepage: repo.homepage, svn_url: repo.svn_url}})
// console.log(filteredRepos)

let title = 'gotomi.info';
---
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <main id="top">
        <a href="#top"><div class="logo">gotomi.info</div></a>

        <section class="intro">
            <div class="coffee">
              <!-- <img src="/assets/cups/cup2.png" alt="make some coffee..."> -->
                <img src="/assets/me.jpg" alt="me" width="250" height="250" class="shadow">
            </div>
               
                 <div class="content">
              
            <h2 class="section-title">Hi, I'm Tomasz</h2>
            <p class="chunk">I am a front-end engineer, currently working as a web performance team leader at Allegro.
            If you want to contact me, you can easily find me on <a href="http://twitter.com/gotomi">Twitter</a>,
            <a href="http://github.com/gotomi">GitHub</a> or <a href="http://linkedin.com/in/gotomi">Linkedin</a>.</p>
            <!-- <p class="chunk">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequuntur molestias, doloremque facere ipsum beatae ipsam rerum ut maxime iste excepturi laboriosam autem quidem incidunt voluptas id aut inventore! Repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium, ipsa aspernatur iure voluptatum similique atque earum, mollitia omnis minima ea repudiandae perspiciatis facere iste? Veniam delectus laudantium enim unde.
            </p> -->
           
              </div>
 
       
            <!-- <img src="/assets/cups/cup1.png" alt="">
            <img src="/assets/cups/cup3.png" alt="">
            <img src="/assets/cups/cup4.png" alt=""> -->
            
        </section>

        <section class="projects">
        <h2 class="section-title">My projects</h2>
        <ProjectGallery projects = {projects}/>
        </section>
        <section class="photos">
        <h2 class="section-title">My photos</h2>
             <p class="chunk">
        From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <PhotoGallery photos ={photos} client:visible/>
        </section>

    <section class="music">
        <h2 class="section-title">My music</h2>
        <p class="chunk">
        From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <MusicApp playlist={music} client:visible/>

    </section>

    </main>
        <footer>&copy; 2021 Tomasz Gospodarczyk | designed in the browser</footer>
</body>
</html>

<style>
    .intro{
        display:  grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;

    }

    .coffee {
        grid-column: 1/span 6;
        grid-row: 1/span 6;
        position: relative;
        z-index: 333;
    }
    .content {
        grid-column: 8/span 18;
        grid-row: 1/span 5;
    }

    .intro img{
        width: 100%;
        height: auto;
        display: block;
    }


</style>