---
// Component Imports

import projects from '../_data/projects.json';
import ProjectGallery from '../components/ProjectGallery.svelte';
import photoSource from '../_data/photos.json';
import music from '../_data/music.json';
import MusicApp from '../components/MusicApp.svelte';
import PhotoGallery from '../components/PhotoGallery.svelte';
import BaseHead from '../layouts/BaseHead.astro';
import Body from '../layouts/Body.astro';

const photos = photoSource.slice(0, 7);
---
<html lang="en">
<head>
<BaseHead title = "Tomasz Gospodarczyk - home page" description = "Tomasz Gospodarczyk  - personal page" />
</head>
<Body>
  <section class="intro">
    <div class="content">
    <h2 class="section-title">Hi, I'm Tomasz</h2>
      <p class="chunk">
      <img src="/assets/me.png" alt="me" width="70" height="70" > 
      I am a front-end engineer and team leader of the team responsible for offer page and navigation components at Allegro. Web Performance enthusiast, occasional creator and photographer.
      If you want to contact me, you can easily find me on <a href="http://twitter.com/gotomi">Twitter</a>,
      <a href="http://github.com/gotomi">GitHub</a> or <a href="http://linkedin.com/in/gotomi">Linkedin</a>.</p>
    </div>
  </section>

  <section class="projects" id="">
  <h2 class="section-title">My projects</h2>
  <ProjectGallery projects = {projects}/>
  </section>

  <section class="photos" id="photos">
      <h2 class="section-title">My photos</h2>
      <PhotoGallery photos ={photos} client:visible/>
  </section>

  <section class="music" id="music">
      <h2 class="section-title">My music</h2>
      <p class="chunk">
      From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
      </p>
      <MusicApp playlist={music} client:load/>
  </section>
</Body>
</html>