---
// Component Imports
import photoSource from '../_data/photos.json';
import music from '../_data/music.json';
import projects from '../_data/projects.json';
import MusicApp from '../components/MusicApp.svelte';
import PhotoGallery from '../components/PhotoGallery.svelte';
import ProjectGallery from '../components/ProjectGallery.svelte';


const photos = photoSource.reverse().slice(0, 7);

// const response = await fetch('https://api.github.com/users/gotomi/repos');
// const repos = await response.json();
// const filteredRepos = repos.map(repo => {return {name: repo.name, description: repo.description, homepage: repo.homepage, svn_url: repo.svn_url}})
// console.log(filteredRepos)

let title = 'gotomi.info';
---
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <main id="top">
        <a href="#top"><div class="logo">gotomi.info</div></a>
        <section class="intro">
            <div class="coffee">
              <img src="/assets/cups/cup2b.png" alt="make some coffee..." width="250" height="252" class="shadow">
              
            </div>
               
            <div class="content">
              
            <h2 class="section-title"><img src="/assets/me.jpg" alt="me" width="25" height="25" > Hi, I'm Tomasz</h2>
            <p class="chunk">I am a front-end engineer, currently working as a web performance team leader at Allegro.
                     If you want to contact me, you can easily find me on <a href="http://twitter.com/gotomi">Twitter</a>,
            <a href="http://github.com/gotomi">GitHub</a> or <a href="http://linkedin.com/in/gotomi">Linkedin</a>.</p>
             </div>
 
       
            <!-- <img src="/assets/cups/cup1.png" alt="">
            <img src="/assets/cups/cup3.png" alt="">
            <img src="/assets/cups/cup4.png" alt=""> -->
            
        </section>

        <section class="projects">
        <h2 class="section-title">My projects</h2>
        <ProjectGallery projects = {projects}/>
        </section>
        <section class="photos">
        <h2 class="section-title">My photos</h2>
             <p class="chunk">
        From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <PhotoGallery photos ={photos} client:visible/>
        </section>

    <section class="music">
        <h2 class="section-title">My music</h2>
        <p class="chunk">
        From time to time I create music using DAW, MIDI software instruments, MIDI keyboard and occasionally also my voice. I will probably never consider any of my tracks finished, but you can enjoy the latest drafts if you like.
        </p>
        <MusicApp playlist={music} client:load/>

    </section>

    </main>
        <footer>&copy; 2021 Tomasz Gospodarczyk | designed in the browser</footer>
</body>
</html>