---
// Component Imports

import PhotoSwipe from "../components/PhotoSwipe.svelte";

import BaseHead from "../layouts/BaseHead.astro";
import Body from "../layouts/Body.astro";

const photos = [
  { url: "/marta/m_01.jpg", title: "Marta" },
  { url: "/marta/m_02.jpg", title: "Marta" },
  { url: "/marta/m_03.jpg", title: "Marta" },
  { url: "/marta/m_04.jpg", title: "Marta" },
];
---

<html lang="en" class="variant4">
  <head>
    <BaseHead title="gotomi.info" description="gotomi.info  - personal page" />
  </head>
  <Body title="Hello Marta!" showFooter={false}>
    <PhotoSwipe photos={photos} />
  </Body>
</html>
