/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
a {
  color: inherit;
}


:root {
  --main-bg-color: #ffbf00;
  --copy-bg-color: hsla(44.7, 100%, 90%, 0.47);
  --copy-color: #111;
  --copy-shadow: #fff9;
  --main-bg-color2: tomato;
  --gap: 16px;

  --player-theme-bg-color: var(--main-bg-color);
  --player-theme-color: var(--copy-color);
  --player-theme-progress-bg-color: var(--copy-color);
  --player-theme-progress-color: var(--main-bg-color2);
}

@media (max-width: 480px) {
  :root {
    --gap: 8px;
  }
}

:root.variant1 {
  --main-bg-color: tomato;
  --main-bg-color2: #fafafa;
  --copy-bg-color: #fff;
  --copy-shadow: #fff9;
  --copy-color: #111;
}
:root.variant2 {
  --main-bg-color: #384938;
  --main-bg-color2: #cc0;
  --copy-bg-color: #eef7ee;
  --copy-color: #111;
  --copy-shadow: #fff9;
}

:root.variant3 {
  --main-bg-color: #2a6b71;
  --main-bg-color2: #cdcd0e;
  --copy-bg-color: #0c2e31;
  --copy-color: #fff;
  --copy-shadow: #1f1f1f90;
}

:root.variant4 {
  --main-bg-color: #1f1f1f;
  --main-bg-color2: #fc4400;
  --copy-bg-color: #fafafa60;
  --copy-color: #fafafa;
  --copy-shadow: #0009;
}



@media (prefers-color-scheme: dark) {
  :root,
  :root.variant1,
  :root.variant2,
  :root.variant3,
  :root.variant4 {
    --main-bg-color: #1f1f1f;
    --main-bg-color2: #fc4400;
    --copy-bg-color: #fafafa60;
    --copy-color: #fafafa;
    --copy-shadow: #0009;
  }
}

html {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-size: 1.1rem;
  background: var(--main-bg-color) url("/assets/bg/layer4.svg") no-repeat;
  color: var(--copy-color);
  background-size: 100%;
  background-position: top;
  min-height: 100vh;
}

.section-title {
  filter: drop-shadow(1px 1px 0 var(--copy-shadow));
  font-size: 1.8rem;
}
