---

export interface Props {
  posts: any,
  title: any,
  full: Boolean
}
const { posts, title, full} = Astro.props;

import PostSingle from '../components/PostSingle.astro'

---


<h2 class="section-title">{title}</h2>
  {posts.map((post) => (
    <PostSingle slug={post.slug} full={full} />
  ))}