---

export interface Props {
  posts: any,
  title: any,
}
const { posts, title} = Astro.props;

import PostPreview from '../../components/blog/PostPreview.astro'
import Author from '../../components/blog/Author.astro'

---


<h2 class="section-title">{title}</h2>
  {posts.map((post) => (
    <PostPreview {post}/>
  ))}