---
import authorsData from '../../_data/authors.json';
export interface Props {
  authors: any;
}
const { authors} = Astro.props;
---
<ul>
  {authors.map((author, i) => (
    <li><a href={"/blog/author/" +  author}><img src={"/img/authors/"+author+".jpg"} alt={author}>{authorsData[author].name}</a></li>
  ))}
</ul>

<style>
li{
  display: inline-block;
  margin-right: 5px;
}

li a{
  display: flex;
}
img{
  max-width: 24px;
  margin-right: 10px;
  filter: drop-shadow(2px 2px 0 tomato)
}
</style>