doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Tomasz Gospodarczyk | front-end developer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#eee')
        style
          include parts/style.css
        script
          include parts/google_analytics_config.js
      body
        include parts/content.html
        include parts/flickr.html
        footer
          div
            p &copy; 2017 Tomasz Gospodarczyk | designed in the browser
