doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Tomasz Gospodarczyk | front-end developer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style
          include parts/style.css
        script
          include parts/google_analytics_config.js
      body
        include parts/content.html
        script
          include parts/webfonts.js
