doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Tomasz Gospodarczyk | front-end developer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#ffbf00')
        link(rel='preload', as='font',type='font/woff2', href='/assets/fonts/poppins.woff2',crossorigin)
        link(rel='stylesheet', href='/assets/css/style.css')
        link(rel='icon', href='/assets/img/favicon.ico', type='image/x-icon')
    body
        span.logo
            gotomi
        main
            //- h1 Tomasz Gospodarczyk
            .coffee
                img(src='/assets/img/kawa2-no-bg-c.png', alt='I like coffee')
                //- img(src='/assets/img/me.jpg', alt="me")
            .c
                include parts/content.html
                h2 Latest photos
                ul.photos
                    each item in feed
                        li
                            a(href=item.href)
                                img(src='images/' + item.id + '-200.jpg', alt=item.text)    
                footer
                    div
                        p &copy; 2019 Tomasz Gospodarczyk | designed in the browser




