doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Tomasz Gospodarczyk | front-end developer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#ffbf00')
        link(rel='preload', as='font',type='font/woff2', href='/assets/fonts/poppins.woff2',crossorigin)
        link(rel='stylesheet', href='/assets/css/style.css')
        link(rel='icon', href='/assets/img/favicon.ico', type='image/x-icon')
    body
        include parts/content.html
        ul.photos
            each item in feed
                li
                    a(href=item.href)
                        img(src='images/' + item.id + '-200.jpg', alt=item.text)
        footer
            div
                p &copy; 2019 Tomasz Gospodarczyk | designed in the browser




