doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Tomasz Gospodarczyk | front-end developer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#ffbf00')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:700')
        style
            include parts/style.css
    body
        include parts/content.html
        ul.photos
            each item in feed
                li
                    a(href=item.href)
                        img(src='images/' + item.id, alt=item.text)
    footer
        div
            p &copy; 2019 Tomasz Gospodarczyk | designed in the browser




