---
import Header from '../components/Header.astro';
---
<body>
    <Header />
    <main id="top">
    <slot />
    </main>
    <footer>&copy; 2021 Tomasz Gospodarczyk | designed in the browser</footer>
</body>
