---
import Header from '../components/Header.astro';
const {title} = Astro.props || '';
---
<body id="top">
    <Header title={title} />
    <main>
    <slot />
    </main>
    <footer>&copy; 2022 Tomasz Gospodarczyk | designed in the browser | built with <a href="https://astro.build/" rel="noopener"><img class="astro-logo" src="/assets/astro.svg" alt="astro build"/></a></footer>
</body>
<style>
.astro-logo {
    height: 1rem;
    vertical-align: middle;
}
</style>
