---
const {title} = Astro.props;
import Header from '../components/Header.astro';
---
<body id="top" class="wide">
    <Header title={title}/>
    <main>
    <slot />
    </main>
    <footer>&copy; 2023 Tomasz Gospodarczyk</footer>
</body>

